USE [master]
GO
/****** Object:  Database [pruebaSQL]    Script Date: 08/28/2018 12:35:30 ******/
CREATE DATABASE [pruebaSQL] ON  PRIMARY 
( NAME = N'pruebaSQL', FILENAME = N'D:\Datos\pruebaSQL.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'pruebaSQL_log', FILENAME = N'D:\Datos\pruebaSQL_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [pruebaSQL].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [pruebaSQL]
GO
/****** Object:  Table [dbo].[sedes]    Script Date: 08/28/2018 12:35:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sedes](
	[id] [int] NOT NULL,
	[sede] [nvarchar](50) NULL,
	[ciudad] [nvarchar](50) NULL,
 CONSTRAINT [PK_sedes] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[empleados]    Script Date: 08/28/2018 12:35:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[empleados](
	[id] [int] NOT NULL,
	[nombres] [nvarchar](50) NOT NULL,
	[apellidos] [nvarchar](50) NOT NULL,
	[id_sedes] [int] NOT NULL,
 CONSTRAINT [PK_empleados] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[parientes]    Script Date: 08/28/2018 12:35:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[parientes](
	[id] [int] NOT NULL,
	[nombres] [nvarchar](50) NULL,
	[apellidos] [nvarchar](50) NULL,
	[edad] [smallint] NULL,
	[id_pariente] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  ForeignKey [FK__empleados__id_se__0519C6AF]    Script Date: 08/28/2018 12:35:31 ******/
ALTER TABLE [dbo].[empleados]  WITH CHECK ADD FOREIGN KEY([id_sedes])
REFERENCES [dbo].[sedes] ([id])
GO
/****** Object:  ForeignKey [FK__parientes__id_pa__060DEAE8]    Script Date: 08/28/2018 12:35:31 ******/
ALTER TABLE [dbo].[parientes]  WITH CHECK ADD FOREIGN KEY([id_pariente])
REFERENCES [dbo].[empleados] ([id])
GO
